.basket_item {
    display: flex;
    align-items: center;
    background-color: rgb(225, 224, 224);
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    width: 65vw;
    margin-left: 70px;
}

.basket_item img {
    width: 15px;
    height: 200px;
    margin-right: 20px;
}

.basket_item .details {
    display: flex;
    flex-direction: column;
}

.basket_item h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.basket_item p {
    margin: 0;
}

.basket_item form {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.basket_item form label {
    margin-right: 10px;
}

.basket_item form input[type="number"] {
    width: 40px;
    padding: 5px;
    text-align: center;
}

.basket_item form button {
    background-color: #ccc;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.basket_item form button:hover {
    background-color: #aaa;
}

#total {
    text-align: right;
    font-weight: bold;
    margin-top: 20px;
}

#checkout {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    text-align: right;
    width: 25vw;
    float: right;
    border-radius: 5px;
    position: sticky;
    bottom: 10%;
    right: 3%;
    z-index: 3;
}

#checkout #total {
    font-weight: bold;
    font-family: Arial;
    font-size: 40px;
    /* font size isnt caahnging for some reason */
    text-align: center;
}

#checkout button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#checkout button:hover {
    background-color: #555;
}

.empty_cart {
    text-align: center;
    margin-top: 30px;
}
